
h3 {
	font-size: 1.2em;
}

/* Text colors */
.color-purple-dark {
	color: #77439e;
}

.color-purple {
	color: #bc75f3;
}

/* Margins */
.no-margin-bottom {
	margin-bottom: 0;
}

.margin-top-xs {
	margin-top: 10px;
}

.margin-top-sm {
	margin-top: 20px;
}

.margin-top-md {
	margin-top: 30px;
}

.margin-top-lg {
	margin-top: 50px;
}

/* Admin page */
.admin-page {
	width: 96%;
	padding: 40px 20px;
}

.admin-page .logo {
	width: 300px;
}

.admin-page .test-mode {
	padding: 1px 0 1px 10px;
	border-radius: 3px;
	background: #ffffff;
}

.admin-page .api-keys input[type="text"],
.admin-page .api-keys select {
	width: 330px;
	border-radius: 3px;
}

.admin-page .api-keys select {
	cursor: pointer;
}

.admin-page input[type="submit"] {
	padding: 5px 10px;
	color: #ffffff;
	border: 1px solid #77439e;
	border-radius: 3px;
	background: #77439e;
	cursor: pointer;
}
