img.simplepay-woocommerce-checkout-logo {
	height: 48px;
}

a.simplepay-woocommerce-checkout-learn-more {
	font-size: .83em;
	cursor: pointer;
	float: right;
}

input#simplepay_transaction_id {
	display: none;
}